<% content_for :title, "Tasks | Taskenstein" %>

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-md-10 mx-auto d-flex justify-content-end">
            <%= link_to 'New', new_task_path, class: 'btn btn-primary' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Tasks</h4>

                    <%= turbo_frame_tag "task_list" do %>
                      <%= render partial: "tasks/list", locals: { tasks: @tasks } %>
                    <% end %>
                </div>
            </div>

            <!-- Pagination -->
            <nav aria-label="Task list navigation" class="mt-4">
              <div class="d-flex justify-content-center">
                <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
              </div>
            </nav>
        </div>
    </div>
</div>
